<a href="https://colab.research.google.com/github/Devika12313/DSML/blob/main/exp1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

exp1

In [ ]:
#datatypes
a=1
print(type(a))
b='DevikaMca'
print(type(b))
c=[1,2]
print(type(c))
d={1:'Devika',2:'M'}
print(type(d))
e=True
print(type(e))
f=33.01
print(type(f))
g={"Devika","M"}
print(type(g))
h=(10,56)
print(type(h))
i=bytes(10)
print(type(i))
j=bytearray()
print(type(j))
k=range(4)
print(type(k))

<class 'int'>
<class 'str'>
<class 'list'>
<class 'dict'>
<class 'bool'>
<class 'float'>
<class 'set'>
<class 'tuple'>
<class 'bytes'>
<class 'bytearray'>
<class 'range'>

Containers

In [ ]:
#list
mca_list=['Devika','Athulya','mca']
print(mca_list[0])
print(mca_list[0:2])
print(mca_list[-2])

Devika
['Devika', 'Athulya']
Athulya

In [ ]:
#dictionary
d={1:'Devika',2:'Athulya',3:'mca'}
print(d)

print("1st name is"+d[1])
print("2nd name is"+d[3])

print(d.keys())
print(d.values())

{1: 'Devika', 2: 'Athulya', 3: 'mca'}
1st name isDevika
2nd name ismca
dict_keys([1, 2, 3])
dict_values(['Devika', 'Athulya', 'mca'])

In [1]:
#tuple

In [2]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

In [3]:
#set
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'cherry', 'orange', 'banana', 'apple'}